{% extends "page.html" %}

{% block content %}
    <div style="text-align: center;">
        <a href="https://github.com/RDFlib/VocPrez">
            <img src="{{url_for('static', filename='VocPrez.svg')}}" style="width:150px;" alt="VocPrez logo">
        </a>
    </div>
    <h4>Welcome to the OGC Definitions Server DEMETER and CYBELE project workspace</h4>
    <p>This repository contains resources for :
        <UL>
            <LI>various views of the DEMETER Agriculture Information Model (AIM) and its imported standard models</LI>
            <LI>various views of the CYBELE Common Semantic Model (CCSM) and its imported standard models</LI> 
        </UL>
        </p>
    <p>The "alternate profiles" will provide a complete list of the available resources per definition.<p>
    <p>See the <a href="http://ogc.org/def-server">Definitions Server About Page</a> for more information about the OGC Definitions Server.</p>
    <h2>Starting Points</h2>
    <ul>
        <li><a href="{{ url_for('vocabularies') }}">DEMETER Models</a></li>
    </ul>
    <p>See the VocPrez System's <a href="{{ url_for('about') }}">About page</a> for more information about it.</p>
{% endblock %}
